/* src/components/Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; /* Lower than modal and backdrop */
  background-color: #ffb340;
}

.navbar .navbar-brand {
  background: none;
  border: none;
  padding: 0;
  color: #8a5a44; /* Change to your desired color */
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  text-decoration: underline; /* Optional: for hover/focus effect */
}

.navbar .nav-item .nav-link {
  color: #8a5a44; /* Change to your desired color */
}

.navbar-nav {
  margin-left: auto;
}
