.telegram-icon {
  position: fixed;
  bottom: 80px;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 1000;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.telegram-icon:hover {
  transform: translateY(-5px);
}

.telegram-icon svg {
  width: 80%;
  height: 80%;
}
